.kv {
  padding: 3px;
  margin: 5px;
  display: flex;
}
.kv.l1 .key {
  border-left-color: #600;
}
.kv.l2 .key {
  border-left-color: #900;
}
.kv.l3 .key {
  border-left-color: #c00;
}
.kv.l4 .key {
  border-left-color: #F00;
}
.kv.l5 .key {
  border-left-color: #F60;
}
.kv.l6 .key {
  border-left-color: #F90;
}
.kv.l7 .key {
  border-left-color: #FC0;
}
.kv.l8 .key {
  border-left-color: #FF0;
}
.kv .key {
  border-left : thick solid #300;
  padding: 1px 10px;
  font-weight: bold;
}
.kv .value .list {
  border-left: thin solid #009;
}
.kv .value .list .list-item {
  padding: 2px;
}
